__pycache__/
*.pyc
*.npz
*.npy
*.cphd
*.nitf
*.tif
*.synctex.gz
paper/paper.tex
paper/paper.aux
paper/paper.log
paper/paper.out
paper/supplement_tables.aux
paper/supplement_tables.log
paper/supplement_tables.out
paper/gen/
.venv/
